{{!-- {{>header shadow=true hrefForAA=true topNav=true textSize=true logoRightNav=true mainMenu=true 01active=true tw-borderHR=true iconLogin=true modal=true}} --}}
<!-- header -->
<header{{#if shadow}} class="tw-shadow"{{/if}}>
	{{#if topNav}}
	<nav class="bg_primary tw-py-1 tw-text-center tw-relative uk-visible@m" uk-margin>
		<div class="tw-px-4 tw-py-1 uk-container">
			<div class="sub_nav margin_x_child tw-text-sm tw-h-full uk-flex uk-flex-center uk-flex-middle" uk-margin>
				{{#if hrefForAA}}
				<span class="uk-visible@m"><a class="tw-px-2" href="#U" id="AU" name="U" title="上方功能區塊" accesskey="U" style="padding-bottom: 3px;">:::</a></span>
				{{/if}}
				<span><a class="tw-px-2" href="index.html">回首頁</a></span>
				<span><a class="tw-px-2" href="#">常見問題</a></span>
				<span><a class="tw-px-2" href="#">聯絡我們</a></span>
				{{#if textSize}}
				<span class="text_size text_size-s hover_bg"><button class="tw-text-white tw-px-2 uk-button" type="button" title="縮小字級">A-</button></span>
				<span class="text_size text_size-m hover_bg active"><button class="tw-text-white tw-px-2 uk-button" type="button" title="適中字級">A</button></span>
				<span class="text_size text_size-l hover_bg"><button class="tw-text-white tw-px-2 uk-button" type="button" title="加大字級">A+</button></span>
				{{/if}}
			</div>
		</div>
	</nav>
	{{/if}}
	<div class="uk-sticky" uk-sticky="media: (max-width: 959px); cls-active: tw-shadow-md tw-bg-white">
		<nav>
			<!-- logo & sideLinks -->
			<div class="tw-py-2 tw-relative">
				{{!-- <div class="bg-white tw-opacity-85 uk-position-cover"></div> --}}
				<div class="tw-px-4 tw-py-1 uk-container">
					<div class="uk-flex-middle uk-grid uk-grid-small uk-grid-match uk-child-width-expand" uk-grid>
						<!-- logo -->
						<div class="logo">
							<h1 class="tw-m-0 uk-flex uk-flex-middle">
								<a class="logoimg" href="index.html" title="{{title}}">
									<img class="uk-preserve" data-src="img/logo.svg" data-width data-height alt="{{title}}" uk-img uk-svg>
								</a>
							</h1>
						</div>
						<!-- /logo -->
						{{#if logoRightNav}}
						<!-- sideLinks -->
						<div class="tw-m-0 tw-relative uk-width-auto uk-visible@m">
							<div class="sub_nav uk-flex uk-flex-middle">
								{{#if hrefForAA}}
								<span class="uk-visible@m"><a class="tw-text-base tw-px-2" href="#U" id="AU" name="U" title="上方功能區塊" accesskey="U" style="padding-bottom: 3px;">:::</a></span>
								{{/if}}
								<div>
									<span class="pseudo:line_v"><a href="#">新光醫院</a></span>
									<span class="pseudo:line_v"><a href="#">院內網路</a></span>
									<span class="pseudo:line_v"><a href="#">聯絡我們</a></span>
									<span class="pseudo:line_v"><a href="#">常見問題</a></span>
									<span class="pseudo:line_v"><a href="#">What is my IP</a></span>
								</div>
								{{!-- <span class="tw-text-white">|</span> --}}
								{{#if textSize}}
								<span class="text_size text_size-s hover_bg"><button class="tw-text-white tw-px-2 uk-button" type="button" title="縮小字級">A-</button></span>
								<span class="text_size text_size-m hover_bg active"><button class="tw-text-white tw-px-2 uk-button" type="button" title="適中字級">A</button></span>
								<span class="text_size text_size-l hover_bg"><button class="tw-text-white tw-px-2 uk-button" type="button" title="加大字級">A+</button></span>
								{{/if}}
								{{#if iconLogin}}
								<span><button class="color_primary tw-border-none l:tw-pr-0 uk-button uk-button-default" type="button" title="註冊/登入/登出"><i class="-tw-mb-1 fas fa-user-circle fa-lg"></i></button></span>
								<div class="min_width-50 uk-dropdown" uk-dropdown>
									<ul class="uk-nav uk-dropdown-nav">
										<li><a class="hover:tw-underline tw-py-2" href="#password" uk-toggle>修改密碼</a></li>
										<li><a class="hover:tw-underline tw-py-2" href="#register" uk-toggle>註冊</a></li>
										<li><a class="hover:tw-underline tw-py-2" href="#login" uk-toggle>登入</a></li>
										<li><a class="hover:tw-underline tw-py-2" href="index.html">登出</a></li>
									</ul>
								</div>
								{{/if}}
							</div>
						</div>
						<!-- /sideLinks -->
						{{/if}}
						<!-- top nav buttons on mobile -->
						<div class="uk-flex-nowrap uk-width-auto uk-hidden@m">
							{{#if iconLogin}}
							<div class="uk-inline">
								<button class="color_primary tw-border-none tw-h-full uk-button uk-button-default" type="button" title="註冊/登入/登出"><i class="-tw-mb-1 fas fa-user-circle fa-lg"></i></button>
								<div class="min_width-50 uk-dropdown" uk-dropdown="pos: bottom-right">
									<ul class="uk-nav uk-dropdown-nav">
										<li><a class="hover:tw-underline tw-py-2" href="#password" uk-toggle>修改密碼</a></li>
										<li><a class="hover:tw-underline tw-py-2" href="#register" uk-toggle>註冊</a></li>
										<li><a class="hover:tw-underline tw-py-2" href="#login" uk-toggle>登入</a></li>
										<li><a class="hover:tw-underline tw-py-2" href="index.html">登出</a></li>
									</ul>
								</div>
							</div>
							{{/if}}
							<button class="min_width-30! color_primary tw-px-0 uk-flex uk-flex-right uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas"><span class="sr-only">選單</span></button>
						</div>
						<!-- /top nav buttons on mobile -->
					</div>
				</div>
			</div>
			<!-- /logo & sideLinks -->
			{{#if mainMenu}}
			<!-- mainMenu -->
			<div class="bg_primary tw-mt-2 tw-relative">
				{{!-- <div class="bg_primary tw-opacity-85 uk-position-cover"></div> --}}
				<!-- container -->
				<div class="container_responsive@s uk-container uk-visible@m">
					<div class="uk-flex uk-navbar" uk-navbar>
						<div class="uk-navbar-center">
							<ul class="nav_bar tw-m-0 uk-tab">
								{{!-- <li hidden></li> --}}
								<li{{#if 01active}} class="uk-active"{{/if}}>
									<a class="color_white! tw-text-xl tw-font-bold" href="{{#if menuTitle1IsLink}}{{menuTitle1link}}{{else}}#{{/if}}">{{menuTitle1}}</a>
								</li>
								<li{{#if 02active}} class="uk-active"{{/if}}>
									<a class="color_white! tw-text-xl tw-font-bold" href="{{#if menuTitle2IsLink}}{{menuTitle2link}}{{else}}#{{/if}}">{{menuTitle2}}</a>
									<div class="bg_white_tw-opacity-90 uk-overflow-auto uk-dropdown" uk-dropdown="offset: 1">
										<ul class="nav_header-dotted uk-nav uk-dropdown-nav">
											<li class="tw-mt-0 uk-nav-header">
												<a class="hover:tw-underline tw-text-base" href="#">Item</a>
											</li>
											<li class="tw-mt-0 uk-nav-header">
												<a class="hover:tw-underline tw-text-base" href="#">Item</a>
											</li>
										</ul>
									</div>
								</li>
								<li{{#if 03active}} class="uk-active"{{/if}}>
									<a class="color_white! tw-text-xl tw-font-bold" href="{{#if menuTitle3IsLink}}{{menuTitle3link}}{{else}}#{{/if}}">{{menuTitle3}}</a>
									<div class="bg_white_tw-opacity-90 uk-overflow-auto uk-dropdown" uk-dropdown="offset: 1">
										<ul class="nav_header-dotted uk-nav uk-dropdown-nav">
											<li class="tw-mt-0 uk-nav-header">
												<a class="hover:tw-underline tw-text-base" href="#">Item</a>
												<ul class="hidden_ie uk-nav-sub">
													<li><a class="hover:tw-underline tw-text-base" href="#">SubItem</a></li>
													<li><a class="hover:tw-underline tw-text-base" href="#">SubItem</a></li>
												</ul>
											</li>
											<li class="tw-mt-0 uk-nav-header">
												<a class="hover:tw-underline tw-text-base" href="#">Item</a>
												<ul class="hidden_ie uk-nav-sub">
													<li><a class="hover:tw-underline tw-text-base" href="#">SubItem</a></li>
													<li><a class="hover:tw-underline tw-text-base" href="#">SubItem</a></li>
												</ul>
											</li>
											<li class="tw-mt-0 uk-nav-header">
												<a class="hover:tw-underline tw-text-base" href="#">Item</a>
											</li>
											<li class="tw-mt-0 uk-nav-header">
												<a class="hover:tw-underline tw-text-base" href="#">Item</a>
											</li>
										</ul>
									</div>
								</li>
								<li{{#if 04active}} class="uk-active"{{/if}}>
									<a class="color_white! tw-text-xl tw-font-bold" href="{{#if menuTitle4IsLink}}{{menuTitle4link}}{{else}}#{{/if}}">{{menuTitle4}}</a>
								</li>
								<li{{#if 05active}} class="uk-active"{{/if}}>
									<a class="color_white! tw-text-xl tw-font-bold" href="{{#if menuTitle5IsLink}}{{menuTitle5link}}{{else}}#{{/if}}">{{menuTitle5}}</a>
								</li>
								<li{{#if 06active}} class="uk-active"{{/if}}>
									<a class="color_white! tw-text-xl tw-font-bold" href="{{#if menuTitle6IsLink}}{{menuTitle6link}}{{else}}#{{/if}}" target="_blank">{{menuTitle6}}</a>
								</li>
								<li{{#if 07active}} class="uk-active"{{/if}}>
									<a class="color_white! tw-text-xl tw-font-bold" href="{{#if menuTitle7IsLink}}{{menuTitle7link}}{{else}}#{{/if}}" target="_blank">{{menuTitle7}}</a>
								</li>
								<li{{#if 08active}} class="uk-active"{{/if}}>
									<a class="color_white! tw-text-xl tw-font-bold" href="{{#if menuTitle8IsLink}}{{menuTitle8link}}{{else}}#{{/if}}" target="_blank">{{menuTitle8}}</a>
								</li>
							</ul>
						</div>
					</div>
					{{#if gradientLine}}
					<div class="tw-bg-gradient-to-r from-transparent via-black to-transparent" style="height: 2px;"></div>
					{{/if}}
				</div>
				<!-- /container -->
			</div>
			<!-- /mainMenu -->
			{{/if}}
		</nav>
		{{#if tw-borderHR}}
		<hr class="tw-border-black tw-border-tw-opacity-25 tw-m-0">
		{{/if}}
	</div>
	{{#if banner}}
	<div class="min_height-200 uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="img/photo.jpg" uk-img>
		<h2 class="tw-text-xl tw-font-bold tw-text-black tw-bg-gradient-to-r tw-from-transparent tw-via-white tw-to-transparent">系統登入服務<span class="eng tw-text-xs">System Login Service</span></h2>
	</div>
	{{/if}}
	{{>offcanvas titleIsLink=true}}

</header>
{{#if iconLogin}}
{{>modal-login id='login' modal-title='會員登入' errorOn=true error='驗證提示語' note=true noteText='登入說明' register=true}}
{{>modal-register id='register' modal-title='會員註冊' errorOn=true error='驗證提示語'}}
{{>modal-password id='password' modal-title='修改密碼' errorOn=true error='驗證提示語' note=true noteText='密碼規則說明' resetButton=true resetButtonName='重　　填'}}

{{/if}}
{{#if modal}}
{{>modal-confirm id='confirm' modal-title='確定？'}}

{{/if}}
<!-- /header -->