{{!-- {{>listMenu bootstrap='' titleIsLink='' bg='' listMenuMaxHeight=true listMenuVisibleOnDesktop=true widthFullMobile=true titleIsLink=true level1=true optionSum=true more=true}} --}}

<!-- listMenu -->
{{#if titleIsLink}}
<div class="listMenu_titlelink {{#if listMenuMaxHeight}}max_height-200 max_height-700@m uk-overflow-auto{{/if}}{{#if listMenuVisibleOnDesktop}} uk-visible@m{{/if}}">
	<ul class="list_tabs uk-nav-default">
		{{#if level1}}
		<li class="uk-nav-header{{#if level1active}} active{{/if}}">
			<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Level1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header">
			<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Level1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		{{/if}}
		{{#if level2}}
		<li class="uk-nav-header">
			<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Level1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header">
			<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Level1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header uk-parent">
			<div class="tw-p-0 uk-grid uk-grid-collapse" uk-grid>
				<div class="uk-width-expand"><a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Level2{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></div>
				<div class="uk-width-auto"><a class="tw-flex tw-h-full uk-flex-middle" href="" title="展開/收合選單"><span class="toggle{{#if level2active}} tw-hidden{{else}}{{/if}}" uk-icon="icon: chevron-right"></span><span class="toggle{{#if level2active}}{{else}} tw-hidden{{/if}}" uk-icon="icon: chevron-down"></span></a></div>
			</div>
			<ul class="toggle{{#if level2active}}{{else}} tw-hidden{{/if}} tw-p-0 uk-nav-sub">
				<li><a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				<li><a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				{{#if more}}
				<li>
					<a class="listMore tw-pr-3 tw-no-underline tw-text-xs tw-text-right tw-block">More</a>
				</li>
				<li class="listMore tw-p-0 tw-hidden">
					<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				<li class="listMore tw-p-0 tw-hidden">
					<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				{{/if}}
			</ul>
		</li>
		{{/if}}
		{{#if level3}}
		<li class="uk-nav-header">
			<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Level1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header">
			<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Level1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header uk-parent">
			<div class="tw-p-0 uk-grid uk-grid-collapse" uk-grid>
				<div class="uk-width-expand"><a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Level2{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></div>
				<div class="uk-width-auto"><a class="tw-flex tw-h-full uk-flex-middle" href="" title="展開/收合選單"><span class="toggle" uk-icon="icon: chevron-right"></span><span class="toggle tw-hidden" uk-icon="icon: chevron-down"></span></a></div>
			</div>
			<ul class="toggle tw-hidden tw-p-0 uk-nav-sub">
				<li><a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				<li><a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				{{#if more}}
				<li>
					<a class="listMore tw-pr-3 tw-no-underline tw-text-xs tw-text-right tw-block">More</a>
				</li>
				<li class="listMore tw-p-0 tw-hidden">
					<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				<li class="listMore tw-p-0 tw-hidden">
					<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				{{/if}}
			</ul>
		</li>
		<li class="uk-nav-header uk-parent">
			<div class="tw-p-0 uk-grid uk-grid-collapse" uk-grid>
				<div class="uk-width-expand"><a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Level3{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></div>
				<div class="uk-width-auto"><a class="tw-flex tw-h-full uk-flex-middle" href="" title="展開/收合選單"><span class="toggle{{#if level3active}} tw-hidden{{else}}{{/if}}" uk-icon="icon: chevron-right"></span><span class="toggle{{#if level3active}}{{else}} tw-hidden{{/if}}" uk-icon="icon: chevron-down"></span></a></div>
			</div>
			<ul class="toggle{{#if level3active}}{{else}} tw-hidden{{/if}} tw-p-0 uk-nav-sub">
				<li>
					<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Title{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
					<ul class="uk-nav-sub tw-p-0 tw-bg-white">
						<li class="{{#if level3active}}active{{/if}}"><a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						<li><a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						{{#if more}}
						<li>
							<a class="listMore tw-pr-3 tw-no-underline tw-text-xs tw-text-right tw-block">More</a>
						</li>
						<li class="listMore tw-p-0 tw-hidden">
							<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						<li class="listMore tw-p-0 tw-hidden">
							<a class="tw-no-underline tw-break-all tw-h-full tw-block" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						{{/if}}
					</ul>
				</li>
			</ul>
		</li>
		{{/if}}
	</ul>
</div>
{{else}}
<div class="listMenu {{#if listMenuMaxHeight}}max_height-200 max_height-700@m uk-overflow-auto{{/if}}{{#if listMenuVisibleOnDesktop}} uk-visible@m{{/if}}">
	<ul class="list_tabs list_tabs-icon-active-white uk-nav-parent-icon uk-nav" uk-nav="multiple: true; animation: false">
		{{#if level1}}
		<li class="uk-nav-header uk-active">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		{{/if}}
		{{#if level2}}
		<li class="uk-nav-header">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header uk-parent uk-open">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
			<ul>
				<li class="uk-active"><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				<li>
				<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				{{#if more}}
				<li>
					<a class="listMore tw-text-xs tw-text-right">More</a>
				</li>
				<li class="listMore tw-hidden">
					<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				<li class="listMore tw-hidden">
					<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				{{/if}}
			</ul>
		</li>
		<li class="uk-nav-header uk-parent">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
			<ul>
				<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				{{#if more}}
				<li>
					<a class="listMore tw-text-xs tw-text-right">More</a>
				</li>
				<li class="listMore tw-hidden">
					<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				<li class="listMore tw-hidden">
					<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				{{/if}}
			</ul>
		</li>
		{{/if}}
		{{#if level3}}
		<li class="uk-nav-header">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
		</li>
		<li class="uk-nav-header uk-parent">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
			<ul>
				<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				{{#if more}}
				<li>
					<a class="listMore tw-text-xs tw-text-right">More</a>
				</li>
				<li class="listMore tw-hidden">
					<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				<li class="listMore tw-hidden">
					<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				{{/if}}
			</ul>
		</li>
		<li class="uk-nav-header uk-parent">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
			<ul>
				<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
				{{#if more}}
				<li>
					<a class="listMore tw-text-xs tw-text-right">More</a>
				</li>
				<li class="listMore tw-hidden">
					<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				<li class="listMore tw-hidden">
					<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
				</li>
				{{/if}}
			</ul>
		</li>
		<li class="uk-nav-header uk-parent uk-open">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
			<ul>
				<li>
					<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
					<ul>
						<li class="uk-active"><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						<li>
						<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						{{#if more}}
						<li>
							<a class="listMore tw-text-xs tw-text-right">More</a>
						</li>
						<li class="listMore tw-hidden">
							<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						<li class="listMore tw-hidden">
							<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						{{/if}}
					</ul>
				</li>
				<li>
					<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
					<ul>
						<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						<li>
						<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						{{#if more}}
						<li>
							<a class="listMore tw-text-xs tw-text-right">More</a>
						</li>
						<li class="listMore tw-hidden">
							<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						<li class="listMore tw-hidden">
							<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						{{/if}}
					</ul>
				</li>
			</ul>
		</li>
		<li class="uk-nav-header uk-parent">
			<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
			<ul>
				<li>
					<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
					<ul>
						<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						<li>
						<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						{{#if more}}
						<li>
							<a class="listMore tw-text-xs tw-text-right">More</a>
						</li>
						<li class="listMore tw-hidden">
							<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						<li class="listMore tw-hidden">
							<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						{{/if}}
					</ul>
				</li>
				<li>
					<a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
					<ul>
						<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						<li>
						<li><a class="tw-break-all" href="#">Item{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a></li>
						{{#if more}}
						<li>
							<a class="listMore tw-text-xs tw-text-right">More</a>
						</li>
						<li class="listMore tw-hidden">
							<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						<li class="listMore tw-hidden">
							<a class="tw-break-all" href="#">{{!--<i class="fas fa-caret-right fa-fw"></i>--}}subItem{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs tw-ml-1" title="總數">999</small>{{/if}}</a>
						</li>
						{{/if}}
					</ul>
				</li>
			</ul>
		</li>
		{{/if}}
	</ul>
	{{!-- <ul class="list_tabs uk-nav-parent-icon uk-nav" uk-nav="multiple: true; animation: false">
		<li class="active uk-nav-header uk-parent">
			<a href="#">內科部<small class="pseudo:parentheses">123</small></a>
			<ul>
				<li><a href="#">Level2-Item<small class="pseudo:parentheses">123</small></a></li>
				<li><a href="#">Level2-Item<small class="pseudo:parentheses">123</small></a></li>
			</ul>
		</li>
		<li class="uk-nav-header uk-parent">
			<a href="#">Level2<small class="pseudo:parentheses">123</small></a>
			<ul>
				<li><a href="#">Level2-Item<small class="pseudo:parentheses">123</small></a></li>
				<li><a href="#">Level2-Item<small class="pseudo:parentheses">123</small></a></li>
			</ul>
		</li>
	</ul> --}}
</div>
{{/if}}
{{#if listMenuVisibleOnDesktop}}
<div class="{{#if widthFullMobile}}uk-width-1-1 {{/if}}uk-hidden@m">
	<button class="uk-button uk-button-default uk-width-1-1" type="button">{{mobileBtnName}}</button>
	{{#if level1}}
	{{>dropdown level1=true header='' divider='' optionSum=''}}
	{{/if}}
	{{#if level2}}
	{{>dropdown level2=true header='' divider='' optionSum=''}}
	{{/if}}
	{{#if level3}}
	{{>dropdown level3=true header='' divider='' optionSum=''}}
	{{/if}}
</div>
{{/if}}
<!-- listMenu -->