<form onsubmit="return false;">
  {{#if formTitleOn}}
  <h3>{{formTitle}}</h3>
  {{/if}}
  <div class="uk-grid uk-grid-small uk-child-width-expand@s" uk-grid>
    <div class="space-y-1 min_width-1/2!@s">
      <label class="w-full" for="acc">帳 號</label>
      <input id="acc" class="uk-input" type="email" placeholder="">
      {{#if errorOn}}
      <p class="color_secondary-text uk-text-small">{{error}}</p>
      {{/if}}
    </div>
    <div class="space-y-1 min_width-1/2!@s">
      <label class="w-full" for="paw">密 碼</label>
      <input id="paw" class="uk-input" type="password" placeholder="">
      {{#if errorOn}}
      <p class="color_secondary-text uk-text-small">{{error}}</p>
      {{/if}}
    </div>
    {{#if captcha}}
    <div class="space-y-1 min_width-1/2!@s">
      <label class="w-full" for="cap">驗證碼</label>
      <input id="cap" class="uk-input" type="text" placeholder="">
      {{#if errorOn}}
      <p class="color_secondary-text s:mt-1 uk-text-small">{{error}}</p>
      {{/if}}
    </div>
    <div class="space-y-1 min_width-1/2!@s">
      <span class="w-full uk-visible@m"></span>
      <img class="inline-block mr-2" data-src="http://fakeimg.pl/150x40/" width="150" height="40" alt="驗證碼" uk-img>
      <a href="#" title="重新換圖"><i class="fas fa-redo"></i><span class="sr-only">重新換圖</span></a>
    </div>
    {{/if}}
    {{#if note}}
    <div class="uk-width-1-1">
      <small class="mt-2"><i class="mr-1 fas fa-question-circle"></i>{{noteText}}</small>
    </div>
    {{/if}}
    <div class="m:mt-2 mx-auto uk-width-1-1">
      <div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
        <div class="space-y-1 min_width-150@s">
          <a href="{{loginToHref}}" class="btn_primary w-full uk-button uk-button-primary">登入</a>
        </div>
        {{#if forgetPsw}}
        <div class="space-y-1 min_width-150@s">
          <a href="#" class="btn_primary w-full uk-button uk-button-primary">忘記密碼</a>
        </div>
        {{/if}}
        {{#if cancel}}
        <div class="space-y-1 min_width-150@s">
          <a href="#" class="w-full uk-button uk-button-default">取消</a>
        </div>
        {{/if}}
        {{#if register}}
        <div class="space-y-1 min_width-150@s">
          <a href="#register" class="w-full uk-button uk-button-default uk-toggle" uk-toggle>註冊</a>
        </div>
        {{/if}}
      </div>
      {{#if register}}
      <small class="mt-2 text-center block">
        沒有帳戶？<a class="color_primary link_line ml-2 uk-toggle" href="#register" uk-toggle>註冊</a>
      </small>
      {{/if}}
      {{#if contact}}
      <small class="mt-2 text-center block">忘記帳戶資訊，請聯絡系統管理員<br><a class="color_primary link_line" href="mailto:sherry5473@tmu.edu.tw">sherry5473@tmu.edu.tw</a><br>02-6638-2736 分機 1219</small>
      {{/if}}
    </div>
  </div>
</form>