{{!-- {{>login-modal id='login' modal-title='會員登入' errorOn='true' error='驗證提示語' note='true' noteText='登入說明' register='true'}} --}}

<!-- uk-modal-login -->
<div id="{{id}}" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <form onsubmit="return false;">
      <button class="uk-modal-close-default" type="button" title="刪除" uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">{{modal-title}}</h2>
      </div>
      <div class="uk-modal-body">
        <div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/4!@s">
            <label class="min_height-40 font_size-10 font-bold flex uk-flex-middle uk-form-label" for="form_id">帳號</label>
          </div>
          <div class="space-y-1 min_width-3/4!@s">
            <input id="form_id" class="match uk-input" type="text" placeholder="請輸入個人信箱">
            {{#if errorOn}}
              <p class="color_secondary-text uk-text-small">{{error}}</p>
            {{/if}}
          </div>
          <div class="min_width-1/4!@s">
            <label class="min_height-40 font_size-10 font-bold flex uk-flex-middle uk-form-label" for="form_pwd">密碼</label>
          </div>
          <div class="space-y-1 min_width-3/4!@s">
            <input id="form_pwd" class="match uk-input" type="password" placeholder="6-15碼英數混合密碼">
            {{#if errorOn}}
              <p class="color_secondary-text uk-text-small">{{error}}</p>
            {{/if}}
          </div>
          {{#if captcha}}
            <div class="min_width-1/4!@s">
              <label class="min_height-40 font_size-10 font-bold flex uk-flex-middle uk-form-label" for="form_captcha">驗證</label>
            </div>
            <div class="space-y-1 min_width-3/4!@s">
              <div class="uk-grid uk-grid-small uk-child-width-expand@s" uk-grid>
                <div class="space-y-1 min_width-1/2!@s">
                  <input id="form_captcha" class="uk-input" type="text" placeholder="請輸入圖形6碼數字">
                </div>
                <div class="space-y-1 min_width-1/2!@s">
                  <!-- <img src="http://fakeimg.pl/150x40/"> -->
                  <img src="https://fakeimg.pl/150x40/" width="150" height="40" alt="驗證碼">
                </div>
                {{#if errorOn}}
                  <p class="color_secondary-text s:mt-1 uk-text-small">{{error}}</p>
                {{/if}}
              </div>
            </div>
          {{/if}}
          {{#if note}}
            <small class="mt-2"><i class="mr-1 fas fa-question-circle"></i>{{noteText}}</small>
          {{/if}}
        </div>
      </div>
      <div class="text-center s:text-left uk-modal-footer">
        <div class="uk-grid-small uk-child-width-expand@s uk-grid" uk-grid>
          <div class="min_width-1/2!@s">
            {{#if register}}<a class="mr-2 uk-text-small" href="#register" uk-toggle>會員註冊</a>{{/if}}
            <a class="uk-text-small" href="#">忘記密碼</a>
          </div>
          <div class="margin_y_child-all min_width-1/2!@s s:text-right">
            <a href="#" class="btn_primary min_width-100 uk-button uk-button-primary">登　　入</a>
            <button class="min_width-100 uk-button uk-button-default uk-modal-close" type="button">取　　消</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- uk-modal-login -->