{{!-- {{>modal-email bootstrap='' validation=true submitIsLink='' id='email' wide=true modal-title='電子信箱'}} --}}
{{#if bootstrap}}
	<!-- bs-modal-email -->
	<div class="modal fade" id="{{id}}" data-keyboard="false" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<p class="tw-text-2xl tw-font-bold modal-title" id="modalTitle">{{modal-title}}</p>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close" title="關閉">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-row">
							<div class="form-group col-md-4">
								<label class="col-form-label" for="sl_type">格　　式</label>
								<select id="sl_type" class="form-control custom-select">
									<option selected disabled value="">請選擇</option>
									<option value="option1">option1</option>
									<option value="option2">option2</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label class="col-form-label" for="ip_email">收件者</label>
								<input id="ip_email" class="form-control" type="email" placeholder="請輸入Email">
							</div>
							<div class="form-group col-md-4">
								<label class="col-form-label" for="ip_subject">主旨</label>
								<input id="ip_subject" class="form-control" type="text" placeholder="">
							</div>
						</div>
						{{#if validation}}
							<div class="form-row">
								<div class="form-group col-md-4">
									<label class="col-form-label" for="sl_type_valid">格　　式</label>
									<select id="sl_type_valid" class="form-control custom-select is-valid" required>
										<option selected disabled value="">請選擇</option>
										<option value="option1">option1</option>
										<option value="option2">option2</option>
									</select>
									<div class="valid-feedback">{{error}}</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="ip_email_valid">收件者</label>
									<input id="ip_email_valid" class="form-control" type="email" placeholder="xxx">
									<div class="valid-feedback">{{error}}</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="ip_subject_valid">主旨</label>
									<input id="ip_subject_valid" class="form-control" type="text" placeholder="xxx">
									<div class="valid-feedback">{{error}}</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label class="col-form-label" for="sl_type_invalid">格　　式</label>
									<select id="sl_type_invalid" class="form-control custom-select is-invalid" aria-describedby="sl_type_invalid_feedback" required>
										<option selected disabled value="">請選擇</option>
										<option value="option1">option1</option>
										<option value="option2">option2</option>
									</select>
									<div id="sl_type_invalid_feedback" class="invalid-feedback">{{error}}</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="ip_email_invalid">收件者</label>
									<input id="ip_email_invalid" class="form-control is-invalid" type="email" placeholder="xxx">
									<div class="invalid-feedback">{{error}}</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="ip_subject_invalid">主旨</label>
									<input id="ip_subject_invalid" class="form-control is-invalid" type="text" placeholder="xxx">
									<div class="invalid-feedback">{{error}}</div>
								</div>
							</div>
						{{/if}}
					</div>
					<div class="modal-footer">
						<button class="btn btn-light" data-dismiss="modal" type="button">取　　消</button>
						{{#if resetButton}}<button class="btn btn-light" type="reset" value="Reset">{{resetButtonName}}</button>{{/if}}
						{{#if submitIsLink}}
							<a class="btn_primary btn btn-primary" href="#">確　　定</a>
						{{else}}
							<button class="btn_primary btn btn-primary" type="submit">確　　定</button>
						{{/if}}
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /bs-modal-email -->
{{else}}
	<!-- uk-modal-email -->
	<div id="{{id}}" class="uk-flex-top uk-modal{{#if wide}} uk-modal-container{{/if}}" uk-modal>
		<div class="uk-modal-dialog uk-margin-auto-vertical">
			<button class="uk-modal-close-default" type="button" title="關閉" uk-close></button>
			<div class="uk-modal-header">
				<h2 class="uk-modal-title">{{modal-title}}</h2>
			</div>
			<div class="uk-modal-body">
				<form onsubmit="return false;">
					{{!-- <div class="uk-grid-small uk-child-width-expand@s uk-grid" uk-grid uk-margin> --}}
					<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid uk-height-match="target: .match">
						<div class="match min_width-1/3!@s tw-flex uk-flex-middle">
							<label class="font_size-10 tw-font-bold uk-form-label" for="form_type">格　　式</label>
						</div>
						<div class="tw-space-y-1 min_width-2/3!@s">
							<select id="form_type" class="match uk-select" name="type">
								<option value="simple" selected="selected">簡目</option>
								<option value="adv">詳目</option>
								<option value="endnote">EndNote</option>
								<option value="refworks">RefWorks</option>
							</select>
						</div>
						<div class="match min_width-1/3!@s tw-flex uk-flex-middle">
							<label class="font_size-10 tw-font-bold uk-form-label" for="form_email">收件者</label>
						</div>
						<div class="tw-space-y-1 min_width-2/3!@s">
							<input id="form_email" class="match uk-input" type="email" placeholder="請輸入Email">
						</div>
						<div class="match min_width-1/3!@s tw-flex uk-flex-middle">
							<label class="font_size-10 tw-font-bold uk-form-label" for="form_subject">主旨</label>
						</div>
						<div class="tw-space-y-1 min_width-2/3!@s">
							{{!-- <textarea id="form_subject" class="uk-textarea" rows="5" placeholder=""></textarea> --}}
							<input id="form_subject" class="match uk-input" type="text" placeholder="">
						</div>
					</div>
				</form>
			</div>
			<div class="tw-text-center uk-margin uk-modal-footer" uk-margin>
				{{!-- <a href="#" class="btn_primary min_width-100 tw-m-0 rounded-full uk-button uk-button-primary">註　　冊</a>
			<button class="min_width-100 rounded-full uk-button uk-button-default uk-modal-close" type="button">取　　消</button> --}}
				<a href="#" class="btn_primary min_width-100 tw-m-0 uk-button uk-button-primary">送　　出</a>
				<button class="min_width-100 uk-button uk-button-default uk-modal-close" type="button">取　　消</button>
				{{!-- <a href="#login" class="rounded-full uk-button uk-button-default" uk-toggle>返回登入</a> --}}
			</div>
		</div>
	</div>
	<!-- /uk-modal-email -->
{{/if}}