{{!-- {{>modal-password bootstrap='' validation=true submitIsLink='' id='password' wide=true modal-title='修改密碼' errorOn=true error='驗證提示語' note=true noteText='密碼規則說明'}} --}}
{{#if bootstrap}}
<!-- bs-modal-password -->
<div class="modal fade" id="{{id}}" data-keyboard="false" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p id="modalTitle" class="tw-text-2xl tw-font-bold modal-title">{{modal-title}}</p>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close" title="關閉">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="col-form-label" for="old_pwd">舊密碼</label>
              <input id="old_pwd" class="form-control" type="text">
            </div>
            <div class="form-group col-md-4">
              <label class="col-form-label" for="new_pwd">新密碼</label>
              <input id="new_pwd" class="form-control" type="text">
            </div>
            <div class="form-group col-md-4">
              <label class="col-form-label" for="confirm_pwd">確認新密碼</label>
              <input id="confirm_pwd" class="form-control" type="text">
            </div>
          </div>
          {{#if validation}}
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="col-form-label" for="old_pwd_valid">舊密碼</label>
              <input id="old_pwd_valid" class="form-control is-valid" type="text" required>
              <div class="valid-feedback">{{error}}</div>
            </div>
            <div class="form-group col-md-4">
              <label class="col-form-label" for="new_pwd_valid">新密碼</label>
              <input id="new_pwd_valid" class="form-control is-valid" type="text" required>
              <div class="valid-feedback">{{error}}</div>
            </div>
            <div class="form-group col-md-4">
              <label class="col-form-label" for="confirm_pwd_valid">確認新密碼</label>
              <input id="confirm_pwd_valid" class="form-control is-valid" type="text" required>
              <div class="valid-feedback">{{error}}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="col-form-label" for="old_pwd_invalid">舊密碼</label>
              <input id="old_pwd_invalid" class="form-control is-invalid" type="text" required>
              <div class="invalid-feedback">{{error}}</div>
            </div>
            <div class="form-group col-md-4">
              <label class="col-form-label" for="new_pwd_invalid">新密碼</label>
              <input id="new_pwd_invalid" class="form-control is-invalid" type="text" required>
              <div class="invalid-feedback">{{error}}</div>
            </div>
            <div class="form-group col-md-4">
              <label class="col-form-label" for="confirm_pwd_invalid">確認新密碼</label>
              <input id="confirm_pwd_invalid" class="form-control is-invalid" type="text" required>
              <div class="invalid-feedback">{{error}}</div>
            </div>
          </div>
          {{/if}}
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" data-dismiss="modal" type="button">取　　消</button>
        {{#if resetButton}}<button class="btn btn-light" type="reset">{{resetButtonName}}</button>{{/if}}
        {{#if submitIsLink}}
        <a class="btn_primary btn btn-primary" href="#">確　　定</a>
        {{else}}
        <button class="btn_primary btn btn-primary" type="submit">確　　定</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<!-- /bs-modal-password -->
{{else}}
<!-- uk-modal-password -->
<div id="{{id}}" class="uk-flex-top uk-modal{{#if wide}} uk-modal-container{{/if}}" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <form onsubmit="return false;">
      <button class="uk-modal-close-default" type="button" title="關閉" uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">{{modal-title}}</h2>
      </div>
      <div class="uk-modal-body">
        <div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/4!@s">
            <label class="min_height-40 font_size-10 tw-font-bold tw-flex uk-flex-middle uk-form-label" for="old_pwd">舊密碼</label>
          </div>
          <div class="tw-space-y-1 min_width-3/4!@s">
            <input id="old_pwd" class="match uk-input" type="password" placeholder="">
            {{#if errorOn}}
            <p class="color_secondary-text tw-text-small">{{error}}</p>
            {{/if}}
          </div>
          <div class="min_width-1/4!@s">
            <label class="min_height-40 font_size-10 tw-font-bold tw-flex uk-flex-middle uk-form-label" for="new_pwd">新密碼</label>
          </div>
          <div class="tw-space-y-1 min_width-3/4!@s">
            <input id="new_pwd" class="match uk-input" type="password" placeholder="">
            {{#if errorOn}}
            <p class="color_secondary-text tw-text-small">{{error}}</p>
            {{/if}}
          </div>
          <div class="min_width-1/4!@s">
            <label class="min_height-40 font_size-10 tw-font-bold tw-flex uk-flex-middle uk-form-label" for="confirm_pwd">確認新密碼</label>
          </div>
          <div class="tw-space-y-1 min_width-3/4!@s">
            <input id="confirm_pwd" class="match uk-input" type="password" placeholder="">
            {{#if errorOn}}
            <p class="color_secondary-text tw-text-small">{{error}}</p>
            {{/if}}
          </div>
        </div>
        {{#if note}}
        <small class="mt-2"><i class="mr-1 fas fa-question-circle"></i>{{noteText}}</small>
        {{/if}}
      </div>
      <div class="tw-text-center uk-modal-footer" uk-margin>
        {{!-- <a href="#" class="btn_primary min_width-100 tw-m-0 rounded-full uk-button uk-button-primary">註　　冊</a>
        <button class="min_width-100 rounded-full uk-button uk-button-default uk-modal-close" type="button">取　　消</button> --}}
        <a href="#" class="btn_primary min_width-100 tw-m-0 uk-button uk-button-primary">確　　定</a>
        {{#if resetButton}}
        <button class="btn_primary min_width-100 uk-button uk-button-primary" type="reset">{{resetButtonName}}</button>
        {{/if}}
        <button class="min_width-100 uk-button uk-button-default uk-modal-close" type="button">取　　消</button>
        {{!-- <a href="#login" class="rounded-full uk-button uk-button-default" uk-toggle>返回登入</a> --}}
      </div>
    </form>
  </div>
</div>
<!-- /uk-modal-password -->
{{/if}}
