{{!-- {{>password-modal id='password' modal-title='修改密碼' errorOn='true' error='驗證提示語' note='true' noteText='密碼規則說明'}} --}}

<!-- uk-modal-login -->
<div id="{{id}}" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <form onsubmit="return false;">
      <button class="uk-modal-close-default" type="button" title="刪除" uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">{{modal-title}}</h2>
      </div>
      <div class="uk-modal-body">
        <div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="min_width-1/4!@s">
            <label class="min_height-40 font_size-10 font-bold flex uk-flex-middle uk-form-label" for="old_pwd">舊密碼</label>
          </div>
          <div class="space-y-1 min_width-3/4!@s">
            <input id="old_pwd" class="match uk-input" type="password" placeholder="">
            {{#if errorOn}}
              <p class="color_secondary-text uk-text-small">{{error}}</p>
            {{/if}}
          </div>
          <div class="min_width-1/4!@s">
            <label class="min_height-40 font_size-10 font-bold flex uk-flex-middle uk-form-label" for="new_pwd">新密碼</label>
          </div>
          <div class="space-y-1 min_width-3/4!@s">
            <input id="new_pwd" class="match uk-input" type="password" placeholder="">
            {{#if errorOn}}
              <p class="color_secondary-text uk-text-small">{{error}}</p>
            {{/if}}
          </div>
          <div class="min_width-1/4!@s">
            <label class="min_height-40 font_size-10 font-bold flex uk-flex-middle uk-form-label" for="confirm_pwd">確認新密碼</label>
          </div>
          <div class="space-y-1 min_width-3/4!@s">
            <input id="confirm_pwd" class="match uk-input" type="password" placeholder="">
            {{#if errorOn}}
              <p class="color_secondary-text uk-text-small">{{error}}</p>
            {{/if}}
          </div>
        </div>
        {{#if note}}
          <small class="mt-2"><i class="mr-1 fas fa-question-circle"></i>{{noteText}}</small>
        {{/if}}
      </div>
      <div class="text-center uk-modal-footer" uk-margin>
        {{!-- <a href="#" class="btn_primary min_width-100 m-0 rounded-full uk-button uk-button-primary">註　　冊</a>
			<button class="min_width-100 rounded-full uk-button uk-button-default uk-modal-close" type="button">取　　消</button> --}}
        <a href="#" class="btn_primary min_width-100 m-0 uk-button uk-button-primary">確　　定</a>
        {{#if resetButton}}
        <button class="btn_primary min_width-100 uk-button uk-button-primary" type="reset" value="Reset">{{resetButtonName}}</button>
        {{/if}}
        <button class="min_width-100 uk-button uk-button-default uk-modal-close" type="button">取　　消</button>
        {{!-- <a href="#login" class="rounded-full uk-button uk-button-default" uk-toggle>返回登入</a> --}}
      </div>
    </form>
  </div>
</div>
<!-- uk-modal-login -->