{{!-- {{>password formTitleOn=='true' formTitle='' stack='true' stackClass='uk-width-1-2@s' errorOn='true' error='驗證提示語' note='true' noteText='密碼規則說明' reset='true' resetTxt='重　　填' cancel='true' register='true' contact='true'}} --}}

<form onsubmit="return false;">
	{{#if formTitleOn}}
	<h3>{{formTitle}}</h3>
	{{/if}}
	<div class="uk-grid uk-grid-small{{#if stack}} uk-flex-column{{else}} uk-child-width-expand@s{{/if}}" uk-grid>
    <div class="space-y-1{{#if stack}} mx-auto {{stackClass}}{{else}} min_width-1/3!@s{{/if}}">
      <label class="w-full" for="old_pwd">舊密碼</label>
      <input id="old_pwd" class="uk-input" type="password" placeholder="">
      {{#if errorOn}}
      <p class="color_secondary-text uk-text-small">{{error}}</p>
      {{/if}}
    </div>
    <div class="space-y-1{{#if stack}} mx-auto {{stackClass}}{{else}} min_width-1/3!@s{{/if}}">
      <label class="w-full" for="new_pwd">新密碼</label>
      <input id="new_pwd" class="uk-input" type="password" placeholder="">
      {{#if errorOn}}
      <p class="color_secondary-text uk-text-small">{{error}}</p>
      {{/if}}
    </div>
    <div class="space-y-1{{#if stack}} mx-auto {{stackClass}}{{else}} min_width-1/3!@s{{/if}}">
      <label class="w-full" for="confirm_pwd">確認新密碼</label>
      <input id="confirm_pwd" class="uk-input" type="password" placeholder="">
      {{#if errorOn}}
      <p class="color_secondary-text uk-text-small">{{error}}</p>
      {{/if}}
    </div>
		{{#if note}}
		<div class="{{#if stack}}mx-auto text-center {{stackClass}}{{else}}uk-width-1-1{{/if}}">
			<small class="mt-2"><i class="mr-1 fas fa-question-circle"></i>{{noteText}}</small>
		</div>
		{{/if}}
    <div class="m:mt-2 mx-auto uk-width-1-1">
      <div class="uk-grid uk-grid-small{{#if stack}} uk-flex-column{{else}} uk-child-width-expand{{/if}}" uk-grid>
				{{#if reset}}
				<div class="space-y-1{{#if stack}} mx-auto {{stackClass}}{{else}} uk-text-nowrap{{/if}}">
					<button class="btn_primary w-full uk-button uk-button-primary" type="reset" value="Reset">{{resetTxt}}</button>
				</div>
				{{/if}}
				<div class="space-y-1{{#if stack}} mx-auto {{stackClass}}{{else}} uk-text-nowrap{{/if}}">
					<a href="#" class="btn_primary w-full uk-button uk-button-primary">確定變更</a>
				</div>
				{{#if cancel}}
				<div class="space-y-1{{#if stack}} mx-auto {{stackClass}}{{else}} uk-text-nowrap{{/if}}">
					<a href="#" class="w-full uk-button uk-button-default" type="reset">取消</a>
				</div>
				{{/if}}
				{{!-- {{#if register}}
        <div class="space-y-1{{#if stack}} mx-auto {{stackClass}}{{else}} uk-text-nowrap{{/if}}">
          <a href="#register" class="w-full uk-button uk-button-default uk-toggle" uk-toggle>註冊</a>
        </div>
				{{/if}} --}}
			</div>
			{{#if register}}
			<small class="mt-2 text-center block">
				沒有帳戶？<a class="color_primary link_line ml-2 uk-toggle" href="#register" uk-toggle>註冊</a>
			</small>
			{{/if}}
			{{#if contact}}
			<small class="mt-10 text-center block">忘記帳戶資訊，請聯絡系統管理員<br><a class="color_primary link_line" href="mailto:sherry5473@tmu.edu.tw">sherry5473@tmu.edu.tw</a><br>02-6638-2736 分機 1219</small>
			{{/if}}
		</div>
	</div>
</form>