{{!-- {{>searchBoxPlus form=false selectFirst=true selectOptionName='全部' 2ndSelect=false 2ndSelectOptionName='And' 2ndSearchBox=false placeholder='請輸入關鍵字' btnSearchFull=false searchButtonName='搜尋'}} --}}
<!-- searchBoxPlus -->
<div class="searchPlus">
	<div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
		<div class="searchInput uk-width-expand@m">
			<div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
				<div class="searchBox min_width-9/10 uk-width-expand@s">
					<div class="tw-p-3 uk-alert" uk-alert>
						<div class="uk-flex-stretch uk-grid uk-grid-small uk-child-width-expand" uk-grid>
							<div class="inputBox uk-width-expand">
								<div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
									{{#if selectFirst}}
									<div class="1stSelect min_width-150 uk-width-auto@s">
										<select class="uk-select">
											<option value="0" selected>{{selectOptionName}}</option>
											<option value="">option</option>
										</select>
									</div>
									{{#if 2ndSelect}}
									<div class="2ndSelect min_width-150 uk-width-auto@s">
										<select class="uk-select">
											<option value="0" selected>{{2ndSelectOptionName}}</option>
											<option value="">option</option>
										</select>
									</div>
									{{/if}}
									<div class="input min_width-1/2 uk-width-expand@s">
										<div class="uk-flex uk-flex-middle">
											<div class="tw-flex-auto"><input class="uk-input" type="text" placeholder="{{placeholder}}" title="{{placeholder}}"></div>
											{{#if 2ndInput}}
											<div class="tw-px-2">或</div>
											<div class="tw-flex-auto"><input class="uk-input" type="text" placeholder="{{2ndPlaceholder}}" title="{{2ndPlaceholder}}"></div>
											{{/if}}
										</div>
									</div>
									{{else}}
									<div class="input min_width-1/2 uk-width-expand@s">
										<div class="uk-flex uk-flex-middle">
											<div class="tw-flex-auto"><input class="uk-input" type="text" placeholder="{{placeholder}}" title="{{placeholder}}"></div>
											{{#if 2ndInput}}
											<div class="tw-px-2">或</div>
											<div class="tw-flex-auto"><input class="uk-input" type="text" placeholder="{{2ndPlaceholder}}" title="{{2ndPlaceholder}}"></div>
											{{/if}}
										</div>
									</div>
									<div class="1stSelect min_width-150 uk-width-auto@s">
										<select class="uk-select">
											<option value="0" selected>{{selectOptionName}}</option>
											<option value="">option</option>
										</select>
									</div>
									{{#if 2ndSelect}}
									<div class="2ndSelect min_width-150 uk-width-auto@s">
										<select class="uk-select">
											<option value="0" selected>{{2ndSelectOptionName}}</option>
											<option value="">option</option>
										</select>
									</div>
									{{/if}}
									{{/if}}
								</div>
							</div>
							<div class="btnRemove tw-hidden uk-width-auto"><a class="min_width-60 tw-static tw-h-full uk-flex uk-flex-middle uk-flex-center" uk-close></a></div>
						</div>
					</div>
				</div>
				{{#if 2ndSearchBox}}
				<div class="2ndSearchBox min_width-9/10 uk-width-expand@s">
					<div class="tw-p-3 uk-alert" uk-alert>
						<div class="uk-flex-stretch uk-grid uk-grid-small uk-child-width-expand" uk-grid>
							<div class="inputBox uk-width-expand">
								<div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
									{{#if selectFirst}}
									<div class="1stSelect min_width-150 uk-width-auto@s">
										<select class="uk-select">
											<option value="0" selected>{{selectOptionName}}</option>
											<option value="">option</option>
										</select>
									</div>
									<div class="input min_width-1/2 uk-width-expand@s">
										<div class="uk-flex uk-flex-middle">
											<div class="tw-flex-auto"><input class="uk-input" type="text" placeholder="{{placeholder}}" title="{{placeholder}}"></div>
											{{#if 2ndInput}}
											<div class="tw-px-2">或</div>
											<div class="tw-flex-auto"><input class="uk-input" type="text" placeholder="{{2ndPlaceholder}}" title="{{2ndPlaceholder}}"></div>
											{{/if}}
										</div>
									</div>
									{{else}}
									<div class="input min_width-1/2 uk-width-expand@s">
										<div class="uk-flex uk-flex-middle">
											<div class="tw-flex-auto"><input class="uk-input" type="text" placeholder="{{placeholder}}" title="{{placeholder}}"></div>
											{{#if 2ndInput}}
											<div class="tw-px-2">或</div>
											<div class="tw-flex-auto"><input class="uk-input" type="text" placeholder="{{2ndPlaceholder}}" title="{{2ndPlaceholder}}"></div>
											{{/if}}
										</div>
									</div>
									<div class="1stSelect min_width-150 uk-width-auto@s">
										<select class="uk-select">
											<option value="0" selected>{{selectOptionName}}</option>
											<option value="">option</option>
										</select>
									</div>
									{{/if}}
								</div>
							</div>
							<div class="btnRemove tw-hidden uk-width-auto"><a class="min_width-60 tw-static tw-h-full uk-flex uk-flex-middle uk-flex-center" uk-close></a></div>
						</div>
					</div>
				</div>
				{{/if}}
				<div class="btnAdd min_width-60 uk-width-auto@s">
					<div class="uk-flex uk-flex-middle">
						<button id="btnAdd" class="tw-bg-transparent tw-w-full uk-button uk-button-primary"><i class="color_primary fas fa-plus fa-lg" title="新增選項"></i><span class="tw-sr-only">新增選項</span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="btnSearch min_width-200 tw-text-nowrap{{#if btnSearchFull}} uk-width-1-2@m{{else}} uk-width-auto@s{{/if}}">
			<a class="{{#if btnSecondary}}btn_secondary {{else}}btn_primary {{/if}}tw-w-full uk-button uk-button-primary" href="#"><i class="tw-mr-2 fas fa-search"></i>{{searchButtonName}}</a>
		</div>
	</div>
</div>
<!-- /searchBoxPlus -->